<!---------------------->
<!--!!!EXPERIMENTAL!!!-->
<!---------------------->

@model SGEP.Models.Material

@{
    ViewData["Title"] = "Detalhes do Material";
}

<h3 class="display-4 mt-5 mb-5 text-center">Detalhes</h3>
<hr />
<h4>Material</h4>
<div class="shadow-regular">
    <table class="table table-bordered shadow-regular">
        <tr>
            <td class="table-dark" style="width:250px">@Html.DisplayNameFor(model => model.Descricao)</td>
            <td class="al">@Html.DisplayFor(model => model.Descricao)</td>
        </tr>
        <tr>
            <td class="table-dark" style="width:250px">@Html.DisplayNameFor(model => model.Quantidade)</td>
            <td>@Html.DisplayFor(model => model.Quantidade)</td>
        </tr>
        <tr>
            <td class="table-dark" style="width:250px">
                @Html.DisplayFor(model => model.Preco)
            </td>
            <td>
                @Html.DisplayFor(model => model.Preco)
            </td>
        </tr>
    </table>
</div>
<div class="justify-content-center">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade) @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" id="linkIndex"><input type="button" id="indexButton" class="btn btn-danger squareborder" value="Voltar" /></a>
    <a asp-action="Edit" id="linkEdit" asp-route-id="@Model.Id"><input type="button" id="editButton" class="btn btn-secondary squareborder" value="Editar material" /></a>
</div>
