@model SGEP.Models.Projeto

@{
    ViewData["Title"] = "Detalhes";
    ViewData["idProjeto"] = Model.Id;
    IEnumerable<Funcionario> funcionarios = (IEnumerable<Funcionario>) ViewData["funcionarios"];
    IEnumerable<ParticipaProjeto> participaProjetos = (IEnumerable<ParticipaProjeto>)ViewData["participaProjetos"];
    /*ViewData["funcionariosDentro"] = from f in funcionarios 
                                     join pp in participaProjetos*/
}

<h5 class="display-4 mt-2 mb-5 text-center">@Html.DisplayFor(model => model.Nome)</h5>
    <div class="shadow-regular">
        <table class="table table-bordered shadow-regular">
            <tr>
                <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.DataInicio)</td>
                <td>@Html.DisplayFor(model => model.DataInicio)</td>
            </tr>
            <tr>
                <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Estado)</td>
                <td>@Html.DisplayFor(model => model.Estado)</td>
            </tr>
            <tr>
                <td class="table-dark alert-link" style="width:250px">
                    @if (Model.Estado == EstadoProjeto.Finalizado)
                    {
                        @Html.DisplayNameFor(model => model.DataFim)
                    }
                    else
                    {
                        @Html.DisplayNameFor(model => model.PrazoEstimado)
                    }
                </td>
                <td>
                    @if (Model.Estado == EstadoProjeto.Finalizado)
                    {
                        @Html.DisplayFor(model => model.DataFim)    
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.PrazoEstimado)
                    }
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="addfuncionario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog squareborder" role="document">
            <div class="modal-content squareborder">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adcionar funcionário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("AddFuncionario.cshtml", null, ViewData)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<div>
    <a asp-action="Index" id="linkIndex"><input type="button" id="indexButton" class="btn btn-danger squareborder" value="Voltar" /></a>
    <a asp-action="Edit" id="linkEdit" asp-route-id="@Model.Id"><input type="button" id="editButton" class="btn btn-secondary squareborder" value="Editar projeto" /></a>
    <a id="linkFuncionario"><input type="button" data-toggle="modal" data-target="#addfuncionario" id="funcsButton" class="btn btn-primary squareborder" value="Adicionar funcionário(s)" /></a>
</div>
@await Html.PartialAsync("ListFun.cshtml", ViewData["funcionarios"], ViewData)

