
@{
    ViewData["Title"] = "Details";
}

    <div class="shadow-regular">
        <table class="table table-bordered shadow-regular">
            <tr>
                <td class="table-dark" style="width:250px">
                    @Html.DisplayFor(model => /*model.Preco*/)
                </td>
                <td>
                    @Html.DisplayFor(model => /*model.Preco*/)
                </td>
            </tr>
            <tr>
                <td class="table-dark" style="width:250px">@Html.DisplayNameFor(model => /*model.TipoMovimentacao*/)</td>
                <td>@Html.DisplayFor(model => /*model.TipoMovimentacao*/)</td>
            </tr>
            <tr>
                <td class="table-dark" style="width:250px">@Html.DisplayNameFor(model => /*model.Destino*/)</td>
                <td>@Html.DisplayFor(model => /*model.Destino*/)</td>
            </tr>
        </table>
    </div>

