@model MovimentacaoCompra;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="shadow-regular">
    <table class="table table-bordered shadow-regular">
        <tr>
            <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Data)</td>
            <td>@Html.DisplayFor(model => model.Data)</td>
        </tr>
        <tr>
            <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.MaterialMovimentado)</td>
            <td>@Html.DisplayFor(model => model.MaterialMovimentado)</td>
        </tr>
        <tr>
            <td class="table-dark alert-link" style="width:250px">@Html.DisplayNameFor(model => model.Quantidade)</td>
            <td>@Html.DisplayFor(model => model.Quantidade)</td>
        </tr>
    </table>
</div>