@model SGEP.Models.ParticipaProjeto

@{
    IEnumerable<Funcionario> funcionarios = (IEnumerable<Funcionario>)ViewData["funcionariosFora"];//Faz o cast da lista de funcionários
} 
    @*<table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Código do funcionário
                </th>
                <th>
                    Nome
                </th>
            </tr>
        </thead>
        <tbody data-style="bg-white rounded-pill" id="lista" multiple="multiple">
            @foreach (var item in funcionarios)
            {
                <tr onclick="" id="item_fun_@item.Id" data-toggle="list">
                    <td>
                        FUN-@Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
    
    <select id="lista" multiple>
        @foreach (var item in funcionarios)
        {
            <option value="@item.Id">@item.Nome</option>
        }
    </select>

    @*<ul>
        <li>Código  |   Nome</li>
        @foreach (Funcionario f in funcionarios)
        {
            <li>@f.Id   | @f.Nome</li>
        }
    </ul>*@
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lista').multiselect();
        });
    </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
