@{
    IEnumerable<Funcionario> funcionarios = (IEnumerable<Funcionario>)ViewData["funcionariosFora"];//Faz o cast da lista de funcionários
} 
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Código do funcionário
                </th>
                <th>
                    Nome
                </th>
            </tr>
        </thead>
        <tbody data-style="bg-white rounded-pill" id="lista" multiple="multiple>
                @foreach (var item in funcionarios)
                {
                    <tr onclick="" id="item_fun_@item.Id">
                        <td>
                            FUN-@Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <input type="checkbox" value="@item.Id" name="fids" />
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    
    <select id="lista-add-funcionario" multiple>
        @foreach (var item in funcionarios)
        {
            <option value="@item.Id">@item.Nome</option>
        }
    </select>

    @*<ul>
        <li>Código  |   Nome</li>
        @foreach (Funcionario f in funcionarios)
        {
            <li>@f.Id   | @f.Nome</li>
        }
    </ul>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
